<div class="card shadow-lg m-1" style="width: 18rem;">
  <img alt="book" class="card-img-top" src="/assets/book.png">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
<!--      Autor-->
      Lorem ipsum
    </h6>
    <p class="card-text">
<!--      opis -->
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p>
    <a class="btn btn-outline-dark" href="#">Details</a>
  </div>
</div>
